div{  
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
    text-align: center;
}
#header{ 
    background-color: #ccc;
}
#sidebar{
    background-color: #ddd;
}
#main{
    background-color: #eee;
    height: 200px;
}
#footer{ 
    background-color: #ccc;
}
