* {box-sizing:border-box}
html{
    background-size:contain;
    background-color: rgb(223, 211, 211);
}
div{  
    margin: 10px;
    border: 1px solid black;
    font-size: 50px;
    height: 500px;
    text-align: center;
}
#header{ 
    background-size: cover;
    background-image: url(images/header.JPG);
    height: 500px;
    color: gold;
}

.menu{
    display: flex;
    height: 100px;
}
button{
    width: 25%;
    font-size: xx-large;
}

.bar{
    width: 100%;
    max-height: 500px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}
.MiaSlide{
    box-sizing: border-box; 
    height: 50%;
    display: none;
    border: none;
    overflow: hidden;
    float:left;
}


#main{
    background-size: contain;
    background-image: url(images/IMG_4286.JPG);
    height: 350px;
    width: 260px;
}
#main:hover{
    background-size: contain;
    background-image: url(images/IMG_42852.JPG);
}
#footer{ 
    background-color: rgb(148, 144, 144);
    display: flex;
    height: 400px;
}
