* {box-sizing:border-box}
html{
    background-size:contain;
    background-color: rgb(65, 64, 64);
}
div{  
    margin: 10px;
    border: 1px solid black;
    font-size: 50px;
    height: 450px;
    text-align: center;
}
#header{ 
    background-color: #ccc;
}

.bar{
    width: 30%;
    max-height: 500px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
}
.MiaSlide{
    box-sizing: border-box; 
    height: 75%;
    display: none;
    border: none;
}


#main{
    background-color: #eee;
    height: 200px;
}
#main:hover{
    background-size: contain;
    background-image: url("images/mia_shadow.JPG");
    color: #ffd900;
}
#footer{ 
    background-color: #ccc;
}
